APP_NAME="lesenorita"
APP_ENV=local
APP_KEY=base64:yMozD43RJWHbplEko59Oui599SzQ5dWkVbVCTmYZMj4=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=lesenorita
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

STRIPE_KEY=pk_live_51J6G1DSCROeAjSma8XvNDS9J5AZ07hswNtiucMegJgbuLvCFuiN2BUhboxvTXtMzy3750pFUBhdBtM4jEYeBqypP00xhQoXOz9
STRIPE_SECRET=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

RAZORPAY_KEY=rzp_test_CRjPZVnzkHtZdT
RAZORPAY_SECRET=cK4CxTjpwZFqJgq8nThOTpGU

RECAPTCHA_SECRET=6LefxikhAAAAAF19o5Gy0tfuYV4bx4bVHKzsAm2R
RECAPTCHA_SITEKEY=6LefxikhAAAAAADRXbef-AC8Ac-zIRNa79P6pNLE

MAIL_DRIVER=smtp
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=587
MAIL_USERNAME=mindbare@gmail.com
MAIL_PASSWORD="ltfygjneesliemrk"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@mail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_MODE=live
PAYPAL_CLIENT_ID=AfuB-FLQ05H69qHQk-oI2gcj3OlHQ8ESXrEdV8Pu1oLPSYFQO7V7qfhldNMs_oZS_lQhLja3_tW4Cs90
PAYPAL_SECRET=ECR5dns0EozBcuPYqKZNkGUjGUjSAjgP0wGyMhwLuqkJElbzd_9FK_b6gIlLEUbmyzGQy6QRWHHn_mts
